body {
    font-family   : 'Montserrat', sans-serif;
    display       : flex;
    flex-direction: column;
    min-height    : 100vh;
}


/*Footer*/
footer {
    margin-top: auto;
}

.footer-custom {
    padding: 30px 0;
}

.footer-social-link {
    color          : #fff;
    text-decoration: none;
    margin-left    : 15px;
    display        : inline-flex;
    flex-direction : column;
    align-items    : center;
    font-size      : 0.9rem;
    transition     : color 0.3s;
}

.footer-social-link:hover {
    color: #ddd;
}

.footer-social-link .bi {
    font-size    : 1.2rem;
    margin-bottom: 2px;
}

.back-to-top {
    position        : fixed;
    bottom          : 20px;
    right           : 20px;
    width           : 40px;
    height          : 40px;
    border-radius   : 4px;
    background-color: #333;
    color           : white;
    text-align      : center;
    line-height     : 40px;
    text-decoration : none;
    box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.2);
    display         : none;
}

/*Contact*/
form {
    background-color: #ffffff;
    padding         : 20px;
    border-radius   : 8px;
    color           : #f1f1f1;
}

label {
    color: #000000;
}